*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h1{
    background-color: black;
    color:aqua;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}
.choice{
    height:200px;
    width:200px;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
}

#user-score,#comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 4rem;
    display: flex;
    justify-content:center;
    align-items:center;
}

#msg{
    background-color: blueviolet;
    color: blanchedalmond;
    padding: 0.4rem;
    border-radius: 0.6rem;
}